{% extends '../shared/navigation.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block body %}
    <main>
        <!-- Title -->
        <div class="container g-pt-50 g-pb-80">
            {% if mode == 'createAccount' %}
                <h1 class="h2 mb-0" style="display:inline-block"><i class="fa fa-fw fa-sign-in"></i>Create Account</h1>
            {% else %}
                <h1 class="h2 mb-0" style="display:inline-block"><i class="fa fa-fw fa-sign-in"></i>Recover my account</h1>
            {% endif %}
        </div>
        <!-- End Title -->

        <!-- Listing - Main Info -->
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6"  style="background-color:#ececec; padding:30px 15px 30px 15px; border-radius: 5px;">
                    <div id="login-error" class="col-md-12" style="color: red; margin-bottom: 10px; display: none">
                        We didn't find any information about your EMAIL, please make sure you have made appointment by this email.
                    </div>
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="" method="post" onsubmit="submitEmail(); return false;">
                            <div class="form-group">
                                <label for="username" class="">Enter your Email to get started.:</label><br>

                                {% if mode == 'createAccount' %}
                                    <input type="text" name="email" id="txtEmail" class="form-control" value="{{ email }}" readonly="readonly">
                                {% else %}
                                    <input type="text" name="email" id="txtEmail" class="form-control" value="{{ email }}">
                                {% endif %}

                            </div>

                            <div id="register-link" class="text-right">
                                <input type="button" name="submit" class="btn btn-danger btn-md" value="Continue" onclick="submitEmail()">
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <div id="confirm-row" class="row" style="margin-top: 1px; display: none" >
                <div id="confirm-column" class="col-md-12 col-lg-6"  style="background-color:#ececec; padding:30px 15px 30px 15px; border-radius: 5px;">
                    <div>
                        <h3>Access code has been sent to you email and phone (if your phone number is valid), please
                            get your access code to set up your password.
                        </h3>
                    </div>
                    <div id="confirm-box" class="col-md-12">
                        <form id="confirm-form" class="form" action="" method="post">

                            {% csrf_token %}
                            <input type="hidden" name="mode" value="{{mode}}" />
                            <input type="hidden" name="Email" id="form2Email"/>
                            <div class="form-group">
                                <label for="username" class="">Access code:</label><br>
                                <input type="text" name="accessCode" id="accessCode" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="">Password:</label><br>
                                <input type="password" name="password" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="username" class="">Password (Repeat):</label><br>
                                <input type="password" name="password2" id="password2" class="form-control">
                            </div>

                            <div id="register-link" class="text-right">
                                <input type="button" name="submit" class="btn btn-danger btn-md" value="Submit" onclick="setAccountPwd()">
                            </div>

                        </form>
                    </div>
                </div>

                <div class="col-md-12 col-lg-6" style="margin-top:30px">

                    <h4 class="h6 g-font-weight-700 g-mb-20">Please download VIPHealth to manage your COVID-19 vaccination appointment.</h4>

                    <h4 class="h6 g-font-weight-700 g-mb-20">To access VIPHealth app, please scan QR code below, or search "VIPHealth" in App Store/ Google Play.</h4>

                    <img class="down_app_qrcode" src='/p/static/images/app.png' style="margin-left:30px; width:30%" />

                    <a target="_blank" href="https://mobile.mdland.com/ezhealthapiservice/page/download.htm" class="btn btn-info btn-lg btn-block down_app_button">Download VIPHEALTH</a>

                </div>
            </div>



        </div>
        <div class="mt-5 mb-5">&nbsp;</div>
    </main>

{% endblock %}

{% block js %}
    <script type="text/javascript">
        function submitEmail() {
            var email = $('#txtEmail').val();
            $('#form2Email').val(email);
            $('#login-error').hide();
            var fmdata = {'Email': email, 'csrfmiddlewaretoken':'{{csrf_token}}'};
            MG.Modal.showLoading();
            $.post('./?action=SubmitEmail', fmdata, function(res){
                MG.Modal.hideLoading();
                if(res.ResultCode > 0){
                    $('#login-error').show();
                }else{
                    $('#confirm-row').show();
                    $('#login-row').hide();

                    if(isMobile()){
                        $("#confirm-row #qrcode").hide();
                        $("#confirm-row #down_app").show();
                    }else{
                        $("#confirm-row #qrcode").show();
                        $("#confirm-row #down_app").hide();
                    }
                }
            }, 'json');
        }

        function setAccountPwd(){
            var fmdata = $('#confirm-form').serialize();
            MG.Modal.showLoading();
            $.post('./?action=SaveAccountPwd', fmdata, function(res){
                MG.Modal.hideLoading();
                if(res.ResultCode > 0){
                    MG.Global.AlertMessage(res.Message, 'Error');
                }else{
                    $("#mg_modal_appdown_create").modal("show");
                }
            }, 'json');
        }

        function gotoLogin(){
            window.location.href="/p/login/";
        }
    </script>

{% endblock %}