<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    ENVIRONMENT_TEST={{ TestEnv }} <br/>
    ECLINIC_DB67_IP={{ ECLINIC_DB67_IP }} <br/>

{{ MC|safe }}<br/>
</body>
</html>