{% extends '../shared/navigation.html' %}
{% load static %}
{% block css %}
<style>
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
</style>
{% endblock %}
{% block body %}
  <body>
    <!-- Content -->
    <main style="min-height: 1000px">
      <!-- Breadcrumbs & Search -->
      <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero" style="background-image: url({% static 'unify/img/bg/map-sketch.jpg' %});">
        <div class="g-pos-rel g-z-index-1">
          <!-- Breadcrumbs -->
          <div class="container-fluid g-py-50">
            <h1 class="h2 mb-0">Search for SOMOS Providers</h1>
          </div>
          <!-- End Breadcrumbs -->
        </div>
      </div>
      <!-- Promo Block -->
      <div class="g-bg-cover g-bg-pos-top-center g-bg-img-hero g-bg-cover g-bg-black-opacity-0_5--after g-py-120" style="background-image: url({% static 'images/corona.jpg' %});">
        <div class="container g-pos-rel g-z-index-1">

          <!-- Input Group -->
          <form>
            <div class="row justify-content-center g-mx-5--md">
              <div class="col-sm-9 col-lg-7 g-px-0--sm g-mb-30">
                <input class="form-control rounded-0 g-brd-gray-light-v3 g-px-20 g-py-15" type="text" placeholder="Search by Provider Name, Specialty, Neighborhood, or Zip">
              </div>

              <div class="col-sm-3 col-lg-2 g-px-0--sm g-mb-30">
                <button class="btn btn-block u-btn-primary g-color-white g-bg-primary-dark-v1--hover g-font-weight-600 rounded-0 g-px-18 g-py-15" type="submit">
                  Search
                </button>
              </div>
            </div>
          </form>
          <!-- End Input Group -->
        </div>
      </div>
      <!-- End Breadcrumbs & Search -->
      <div class="container-fluid" style="width: 100%; padding-top: 50px">
        <div class="row" style="height: 250px">
          <div class="col-lg-3 col-md-3 col-sm-12 g-bg-img-hero g-min-height-50" style="background-image: url({% static 'unify/img-temp/400x250/img15.jpg' %}); height: 250px">
          </div>
          <div class="col-lg-9 col-md-9 col-sm-12 g-brd-around g-brd-top-around g-brd-gray-light-v3 g-bg-white">
            <div class="row" style="height: 100%">
              <div class="col-lg-12 col-md-4 col-sm-12" style="padding: 25px !important">
                <h3>Dr. Henry Chen - Internal Medicine (Family)</h3>
                <p>(718) 343-1933</p>
                <p>41-07 76th St. - Elmhurst, NY - 11373</p>
                <p>Mon-Fri, 9A-9P</p>
                <b>0.2mi away</b>
              </div>
            </div>
          </div>
          </div>
        </div>
      </div>
      <!-- List View -->
    </main>
    <!-- End Content -->

{% endblock %}

{% block js %}
<script >
  /*global $*/
  $(document).on('ready', function () {
        $.HSCore.components.HSDatepicker.init('#week-of-datepicker');
      });
</script>
{% endblock %}