<style>
    .header-image {
        background-image: url('/p/static/images/popup/header.png');
        background-repeat: no-repeat;
        background-size: contain;
        background-color: #3F3F3F;
        height: 44px;
    }
    .body-image {
        background-image: url('/p/static/images/popup/body.jpg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: #3F3F3F;
    }
</style>

<div class="modal fade" id="subscribeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content" style="background-color: #3F3F3F">
            <div class="modal-header header-image">
                <!--<h5 style = "color:white;" class="modal-title" id="subscribeModalLabel"></h5> -->
                <button type="button" class="close" onclick="window.localStorage.setItem('hidesubsribe','1');$('#subscribeModal').modal('hide')" aria-label="Close">
                    <span style="color:white" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div style="color: white" class="modal-body">
                <h4>Register below to stay updated on the COVID-19 vaccine and vaccine availability.</h4>
                <div class="row">
                    <div class="col-sm-12 col-xs-12 col-md-12 col-lg-8">
                        {% include './subscribe_form.html' %}
                    </div>
                    <div class="body-image col-lg-4 d-none d-lg-block">&nbsp;</div>
                </div>
            </div>
        </div>
    </div>

    {% include './subscribe_form_js.html' %}

</div>
