// Font Families
$g-font-primary: "Encode Sans", sans-serif;

// Font Sizes
// $g-font-primary-size: 16px;



//
// Colors
//

// Primary Color
$g-color-primary: #da3743;
$g-color-primary-dark-v1: #da3743;

// Main Colors
$g-color-text: #6f6f6f;
$g-color-main: #212121;
$g-color-secondary: #f5f5f5;