﻿{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Title -->
    <title>{% if CLINIC_ID == 3552 %}RenDr Care Physicians{% else %}SOMOS{% endif %} COVID Vaccination</title>

    <!-- Required Meta Tags Always Come First -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/p/static/images/favicon.ico">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Encode+Sans:400,500,600" rel="stylesheet">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="{% static 'vendor/bootstrap/bootstrap.min.css' %}">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="{% static 'vendor/icon-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/icon-line/css/simple-line-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/icon-line-pro/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/icon-hs/style.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/animate.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/hs-megamenu/src/hs.megamenu.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/hamburgers/hamburgers.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/chosen/chosen.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/slick-carousel/slick/slick.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/fancybox/jquery.fancybox.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendor/jquery-ui/themes/base/jquery-ui.min.css' %}">
    <style>
        .navbar-brand > img {
            max-height: 62px;
        }

        .navbar .nav-item.active {
            background-color: #ae2c35 !important;
        }

        .navbar {
            text-align: center;
        }

        footer img.poweredby {
            max-height: 20px;
        }

        .bg-corona {
            background: url({% static 'images/corona.jpg' %}) no-repeat center;
            background-color: rgba(0, 0, 0, 0.6);
            background-blend-mode: darken;
        }

        i.fa-asterisk {
            vertical-align: super;
            font-size: xx-small;
        }

        .down_app_qrcode {display:block}
        .down_app_button {display:none}
        .mobile .down_app_qrcode {display:none}
        .mobile .down_app_button {display:block}
        .pc .down_app_qrcode {display:block}
        .pc .down_app_button {display:none}

    </style>
    {% block css %}
    {% endblock %}

    <!-- CSS Unify Theme -->
    <link rel="stylesheet" href="{% static 'unify/css/styles.multipage-real-estate.css' %}">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">
</head>

<body>
<!-- Header -->
<header id="js-header" class="u-header u-header--sticky-top u-header--toggle-section u-header--change-appearance"
        data-header-fix-moment="600"
        data-header-fix-effect="slide">
    <div class="u-header__section g-transition-0_5"
         data-header-fix-moment-exclude="g-mt-0"
         data-header-fix-moment-classes="g-mt-minus-73 g-mt-minus-76--md">
        <!-- Topbar -->
        <div class="g-bg-white">
            <div class="container-fluid g-py-15">
                <div class="row align-items-center">
                    <div class="col-2 col-md-4 col-lg-2">
                        <!-- Logo -->
                        <a class="navbar-brand d-flex align-items-center g-color-main text-uppercase g-text-underline--none--hover"
                           href="{% url 's1_landing_view' %}">
                            {% if CLINIC_ID != 3552 %}
                                <img src="/p/static/images/mso-somos.png" class="d-none d-sm-block">
                                <img src="/p/static/images/somos-emblem.png" class="d-block d-sm-none"
                                     alt="SOMOS">
                            {% else %}
                                <img src="/p/static/images/mso-rendr.png" class="">
                            {% endif %}
                        </a>
                        <!-- End Logo -->
                    </div>

                    <div class="col-lg-4 g-hidden-md-down d-print-none">
                        <!-- Social Icons -->
                        <ul class="list-inline d-flex align-items-center ml-3 mb-0 float-right">

                            <li class="list-inline-item mr-5"></li>

                            <li class="list-inline-item g-mr-3">
                                <span class="g-color-gray-dark-v5 g-font-size-10" data-i18n="somos-for-mobile">For Mobile:</span>
                            </li>

                            <!-- Apps -->
                            <li class="list-inline-item g-mx-3">
                                <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary-dark-v1--hover g-color-gray-dark-v5 g-color-white--hover g-bg-primary-dark-v1--hover"
                                   target="_blank" href="https://play.google.com/store/apps/details?id=com.react_viphealth&hl=en_US">
                                    <i class="fa fa-android"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-3">
                                <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary-dark-v1--hover g-color-gray-dark-v5 g-color-white--hover g-bg-primary-dark-v1--hover"
                                   target="_blank" href="https://apps.apple.com/us/app/viphealth/id1265405734">
                                    <i class="fa fa-apple"></i>
                                </a>
                            </li>
                            <li class="list-inline-item g-mx-3" style="cursor:pointer">
                                <a class="u-icon-v2 u-icon-size--xs g-brd-gray-light-v2 g-brd-primary-dark-v1--hover g-color-gray-dark-v5 g-color-white--hover g-bg-primary-dark-v1--hover"
                                   data-toggle="modal" data-target="#mg_modal_appdown_top">
                                    <i class="fa fa-qrcode"></i>
                                </a>
                            </li>
                            <!-- End Apps -->
                        </ul>
                        <!-- End Social Icons -->
                    </div>

                    <div class="col-10 col-md-8 col-lg-6 ml-auto">
                        <!-- List -->

                        <ul class="list-inline float-right mb-0">
                            {#                          <li class="list-inline-item d-print-none">#}
                            {#                              <a class="u-link-v5 g-color-main g-color-white--hover g-bg-secondary g-bg-primary-dark-v1--hover g-font-weight-500 g-px-15 g-py-10"#}
                            {#                                 href="https://bd.mdland.com"><i class="fa fa-fw fa-user-md"></i><span#}
                            {#                                      data-i18n="somos-front-line">Frontline Staff</span></a>#}
                            {#                          </li>#}
                            <!-- steve said add them now, 1/13/2021 -->
                            {% if request.session.patientid > 0 %}
                                <li class="list-inline-item d-print-none">
                                    <a class="u-link-v5 g-color-white g-bg-primary g-bg-primary-dark-v1--hover g-font-weight-500 g-px-15 g-py-10"
                                       href="{% url 's7_results' %}"><i class="fa fa-fw fa-user"></i><span
                                            data-i18n="somos-my-results">Returning Users</span></a>
                                </li>
                                <li class="list-inline-item d-print-none">
                                    <a class="u-link-v5 g-color-white g-bg-primary g-bg-primary-dark-v1--hover g-font-weight-500 g-px-15 g-py-10"
                                       href="{% url 's_logout' %}"><i class="fa fa-fw fa-user"></i><span
                                            data-i18n="somos-my-logout">Logout</span></a>
                                </li>
                            {% else %}
                                <li class="list-inline-item d-print-none">
                                    <a class="u-link-v5 g-color-white g-bg-primary g-bg-primary-dark-v1--hover g-font-weight-500 g-px-15 g-py-10"
                                       href="{% url 's_signup' %}"><i class="fa fa-fw fa-plus-square"></i>Create New
                                        Account
                                    </a>
                                </li>
                                <li class="list-inline-item d-print-none">
                                    <a class="u-link-v5 g-color-white g-bg-primary g-bg-primary-dark-v1--hover g-font-weight-500 g-px-15 g-py-10"
                                       href="{% url 's_login' %}"><i class="fa fa-fw fa-user"></i><span
                                            data-i18n="somos-my-login">Login</span>
                                    </a>
                                </li>
                            {% endif %}
                          
                        </ul>

                        <!-- End List -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->

        <nav class="js-mega-menu navbar navbar-expand-lg g-brd-y g-brd-2 g-brd-primary-dark-v1 g-bg-primary g-pa-0">
            <div class="container-fluid" style="text-align:center;">
                <!-- Responsive Toggle Button -->
                <button class="navbar-toggler navbar-toggler-right btn g-line-height-1 g-brd-none g-pa-0" type="button"
                        aria-label="Toggle navigation"
                        aria-expanded="false"
                        aria-controls="navBar"
                        data-toggle="collapse"
                        data-target="#navBar">
              <span class="hamburger hamburger--slider g-px-0">
                <span class="hamburger-box">
                  <span class="hamburger-inner"></span>
                </span>
              </span>
                </button>
                <!-- End Responsive Toggle Button -->

                <!--<div class="col-auto order-lg-2 px-0 ml-auto">-->
                <!-- Languages -->
                <!--  <ul class="list-inline g-hidden-xs-down mb-0">-->
                <!--    <li class="list-inline-item mr-0">-->
                <!--      <a class="active u-link-v5 g-color-white g-bg-transparent g-bg-primary-dark-v1--hover g-bg-primary-dark-v1--active g-font-weight-500 g-pa-10" href="javascript:void(0);">En</a>-->
                <!--    </li>-->
                <!--    <li class="list-inline-item mr-0">-->
                <!--      <a class="u-link-v5 g-color-white g-bg-transparent g-bg-primary-dark-v1--hover g-bg-primary-dark-v1--active g-font-weight-500 g-pa-10" href="javascript:void(0);">中文</a>-->
                <!--    </li>-->
                <!--    <li class="list-inline-item mr-0">-->
                <!--      <a class="u-link-v5 g-color-white g-bg-transparent g-bg-primary-dark-v1--hover g-bg-primary-dark-v1--active g-font-weight-500 g-pa-10" href="javascript:void(0);">Es</a>-->
                <!--    </li>-->
                <!--  </ul>-->
                <!-- End Languages -->
                <!--</div>-->

                <!-- Navigation -->
                <div id="navBar"
                     class="collapse navbar-collapse align-items-center order-lg-last g-brd-top g-brd-none--lg g-brd-primary-dark-v1">
                    <ul class="navbar-nav g-py-30 g-py-0--lg mx-auto">
                        <li class="nav-ln nav-item {# active #}">
                            <a id="en"
                               class="nav-link g-color-white g-brd-x--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15"
                               href="#">
                                English
                            </a>
                        </li>
                        {% if CLINIC_ID != 3552 %}
                        <li class="nav-ln nav-item">
                            <a id="es"
                               class="nav-link g-color-white g-brd-x--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15"
                               href="#">
                                Español
                            </a>
                        </li>
                        <li class="nav-ln nav-item">
                            <a id="cn"
                               class="nav-link g-color-white g-brd-x--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15"
                               href="#">
                                中文
                            </a>
                        </li>
                        {% endif %}
                        <!-- Listing - Submenu -->
                        <!--<li class="nav-item hs-has-sub-menu">-->
                        <!--  <a id="nav-link--listing" class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="#"-->
                        <!--     aria-haspopup="true"-->
                        <!--     aria-expanded="false"-->
                        <!--     aria-controls="nav-submenu--listing">-->
                        <!--    Listing-->
                        <!--  </a>-->

                        <!-- Submenu -->
                        <!--  <ul id="nav-submenu--listing" class="hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-2"-->
                        <!--      aria-labelledby="nav-link--listing">-->
                        <!--    <li class="dropdown-item">-->
                        <!--      <a class="nav-link g-color-text g-font-weight-600" href="page-list-view-1.html">List View</a>-->
                        <!--    </li>-->
                        <!--    <li class="dropdown-item">-->
                        <!--      <a class="nav-link g-color-text g-font-weight-600" href="page-grid-view-1.html">Grid View</a>-->
                        <!--    </li>-->
                        <!--    <li class="dropdown-item">-->
                        <!--      <a class="nav-link g-color-text g-font-weight-600" href="page-single-item-1.html">Listing Single Page</a>-->
                        <!--    </li>-->
                        <!--  </ul>-->
                        <!-- End Submenu -->
                        <!--</li>-->
                        <!-- End Listing - Submenu -->

                        <!-- Agents - Submenu -->
                        <!--<li class="nav-item hs-has-sub-menu">-->
                        <!--  <a id="nav-link--page" class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="#"-->
                        <!--     aria-haspopup="true"-->
                        <!--     aria-expanded="false"-->
                        <!--     aria-controls="nav-submenu--page">-->
                        <!--    Agents-->
                        <!--  </a>-->

                        <!-- Submenu -->
                        <!--  <ul id="nav-submenu--page" class="hs-sub-menu list-unstyled u-shadow-v11 g-min-width-220 g-mt-2"-->
                        <!--      aria-labelledby="nav-link--page">-->
                        <!--    <li class="dropdown-item">-->
                        <!--      <a class="nav-link g-color-text g-font-weight-600" href="page-agents-list-view-1.html">List View</a>-->
                        <!--    </li>-->
                        <!--    <li class="dropdown-item">-->
                        <!--      <a class="nav-link g-color-text g-font-weight-600" href="page-agents-grid-view-1.html">Grid View</a>-->
                        <!--    </li>-->
                        <!--    <li class="dropdown-item">-->
                        <!--      <a class="nav-link g-color-text g-font-weight-600" href="page-agents-single-page-1.html">Agents Single Page</a>-->
                        <!--    </li>-->
                        <!--  </ul>-->
                        <!-- End Submenu -->
                        <!--</li>-->
                        <!-- End Agents - Submenu -->

                        <!--<li class="nav-item">-->
                        <!--  <a class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="page-share-1.html">-->
                        <!--    Share-->
                        <!--  </a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                        <!--  <a class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="page-help-1.html">-->
                        <!--    Help-->
                        <!--  </a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                        <!--  <a class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="page-contacts-1.html">-->
                        <!--    Contacts-->
                        <!--  </a>-->
                        <!--</li>-->
                        <!--<li class="nav-item">-->
                        <!--  <a class="nav-link g-color-white g-brd-right--lg g-brd-primary-dark-v1 g-bg-primary-dark-v1--hover g-font-weight-600 g-font-size-default g-px-17 g-px-23--xl g-py-15" href="../../index.html">Main</a>-->
                        <!--</li>-->
                    </ul>
                </div>
                <!-- End Navigation -->
            </div>
        </nav>
    </div>
</header>
<!-- End Header -->

{% block body %}
{% endblock %}
<!-- Call to Action -->
<div class="g-bg-primary g-py-40">
    <div class="g-max-width-645 text-center mx-auto">
        {% if CLINIC_ID != 3552 %}
            <div class="mb-5">
                <h2 class="g-color-white g-font-weight-600" data-i18n="somos-call-to-action">Stuck with something? We're
                    here to help!</h2>
            </div>
            <span class="d-inline-block g-font-weight-600 g-color-white text-uppercase mr-4" data-i18n="somos-call-us">Call Us</span>
            <a class="btn u-btn-outline-white g-color-white g-brd-2 g-color-main g-color-primary--hover g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
               href="tel:833-766-6769">
                1-(833)-SOMOSNY
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right d-print-none"></i>
            </a>
        {% else %}
            <div class="mb-5">
                <h2 class="g-color-white g-font-weight-600">Need help with anything?</h2>
            </div>
            <span class="d-inline-block g-font-weight-600 g-color-white text-uppercase mr-4">Contact Us</span>
            <a class="btn u-btn-outline-white g-color-white g-brd-2 g-color-main g-color-primary--hover g-bg-white--hover g-font-weight-600 g-font-size-12 text-uppercase rounded-0 g-px-25 g-py-13 mb-2"
               href="mailto:info@rendrcare.com">
                info@rendrcare.com
                <i class="g-pos-rel g-top-minus-1 ml-2 fa fa-angle-right d-print-none"></i>
            </a>
        {% endif %}
    </div>
</div>
<!-- End Call to Action -->
<!-- Footer -->
<footer class="container g-pt-100 g-pb-70 d-print-none">
    <div class="row">
        <div class="col-md-3 text-center text-md-left g-mb-30">
            <a class="navbar-brand d-flex align-items-center g-color-main text-uppercase g-text-underline--none--hover"
               href="{% url 's1_landing_view' %}">
                <img src="/p/static/images/mso-{% if CLINIC_ID != 3552 %}somos{% else %}rendr{% endif %}.png"
                     alt="SOMOS">
            </a>
        </div>

        <div class="col-md-6 text-center g-mb-30">
            <span class="d-block g-color-text g-font-size-13 mb-4">&#169; {% if CLINIC_ID != 3552 %}SOMOS Community
                Care.{% else %}RenDr Care Physicians.{% endif %} <span data-i18n="somos-all-rights-reserved">All Rights Reserved. 2021</span><br><!-- MDLand ID: {{ CLINIC_ID }} --></span>

            <!-- Footer - List -->
            <ul class="list-inline mb-5">
                {% if CLINIC_ID != 3552 %}
                <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://somoscommunitycare.org/who-we-are/" data-i18n="somos-who">Who We Are</a></li>
                <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://somoscommunitycare.org/news/" data-i18n="somos-news">News</a></li>
                <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://somoscommunitycare.org/info/" data-i18n="somos-info">Information</a></li>
                <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://somoscommunitycare.org/blog/" data-i18n="somos-projects">Projects</a></li>
                <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://somoscommunitycare.org/provider/" data-i18n="somos-providers">Providers</a></li>
                {% else %}
                                    <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://www.rendrcare.com/about/">About</a></li>
                <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://www.rendrcare.com/doctors/">Providers</a></li>
                <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://www.rendrcare.com/blog/">News</a></li>
                <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://www.rendrcare.com/careers/">Careers</a></li>
                <li class="list-inline-item mx-3"><a
                        class="u-link-v5 g-color-main g-color-primary--hover g-font-weight-500"
                        href="https://www.rendrcare.com/contact/">Contact</a></li>
                {% endif %}
            </ul>
            <!-- End Footer - List -->

            <!--social-->
            <div>
                {% if CLINIC_ID != 3552 %}
                <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13"
                   href="https://www.instagram.com/somoscare/?hl=en">
                    <i class="fa fa-instagram"></i>
                </a>
                <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13"
                   href="https://twitter.com/SOMOSCare?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13"
                   href="https://www.facebook.com/SOMOSCommunityCare/">
                    <i class="fa fa-facebook"></i>
                {% else %}
                    <a class="u-icon-v2 g-width-35 g-height-35 g-brd-gray-light-v3 g-brd-primary--hover g-color-gray-dark-v5 g-color-white--hover g-bg-transparent g-bg-primary-dark-v1--hover g-font-size-13"
                   href="https://www.facebook.com/rendrcare/">
                    <i class="fa fa-facebook"></i>
                {% endif %}
                </a>
            </div>
            <!--end social-->
            <!-- Go to Top -->
            <!--<a class="js-go-to u-go-to-v3 g-width-40 g-height-40 g-color-primary" href="#"-->
            <!--   data-offset-top="400"-->
            <!--   data-compensation="#js-header"-->
            <!--   data-show-effect="zoomIn">-->
            <!--  <i class="g-brd-gray-light-v3 g-brd-primary--hover rounded-0 fa fa-long-arrow-up"></i>-->
            <!--</a>-->
            <!-- End Go to Top -->
        </div>

        <div class="col-md-3 text-center g-mb-30">
            <h3 class="g-font-weight-600 g-font-size-13 text-uppercase" data-i18n="somos-powered-by">Proudly Powered
                By:</h3>

            <!-- Social Icons -->
            <a href="https://mdland.com"><img class="poweredby"
                                                    src="https://mdland-website.s3.amazonaws.com/img/logo.png"></a>
            <!-- End Social Icons -->
        </div>
    </div>
</footer>

<!-- End Footer -->

<!-- Error Modal -->
<div class="modal fade" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 id="exampleModalLongTitle">
                    <i class="fa fa-warning fa-fw text-muted"></i>
                    <span class="modal-title" data-i18n="somos-error">Error</span>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <h5 class="modal-message"></h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-i18n="somos-close">Close
                </button>
            </div>
        </div>
    </div>
</div>
<!-- End Error Modal -->

<!-- Download VIPHEALTH Modal for the top button  -->
<div class="modal fade" id="mg_modal_appdown_top" tabindex="-1" role="dialog" aria-labelledby="appdownModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appdownModalLabel">Download VIPHEALTH App</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Please download VIPHealth to manage your COVID-19 vaccination appointment or schedule a new one.
          <br><br>To access VIPHealth app, please scan QR code below, or search "VIPHealth" in App Store/ Google Play.
          <br><img class="down_app_qrcode" src='/p/static/images/app.png' style="margin-left:30px; width:30%"/>
          <br><a target="_blank" href="https://mobile.mdland.com/ezhealthapiservice/page/download.htm" class="btn btn-info btn-lg btn-block down_app_button">Download VIPHEALTH</a>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End download VIPHEALTH Modal for the top button  -->

<!-- Download VIPHEALTH Modal after update -->
<div class="modal fade" id="mg_modal_appdown_update" tabindex="-1" role="dialog" aria-labelledby="appdownModalLabelUpdate" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appdownModalLabelUpdate">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Your profile has been saved.
          <br><br>Please download VIPHealth to manage your COVID-19 vaccination appointment or schedule a new one.
          <br><br>To access VIPHealth app, please scan QR code below, or search "VIPHealth" in App Store/ Google Play.
          <br><img class="down_app_qrcode" src='/p/static/images/app.png' style="margin-left:30px; width:30%"/>
          <br><a target="_blank" href="https://mobile.mdland.com/ezhealthapiservice/page/download.htm" class="btn btn-info btn-lg btn-block down_app_button">Download VIPHEALTH</a>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn btn-info" data-dismiss="modal" aria-label="Close">Close</button>
      </div>
    </div>
  </div>
</div>
<!-- End download VIPHEALTH Modal after update profile -->

<!-- Download VIPHEALTH Modal after create account -->
<div class="modal fade" id="mg_modal_appdown_create" tabindex="-1" role="dialog" aria-labelledby="appdownModalLabelCreate" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="appdownModalLabelCreate">Success</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          Your profile has been saved, please click 'Login' button to login.
      </div>
      <div class="modal-footer">
          <a href="/p/login/" type="button" class="btn btn-success" data-dismiss="modal" onclick="window.location.href='/p/login/'">Login</a>
      </div>
    </div>
  </div>
</div>
<!-- End download VIPHEALTH Modal after create account -->

<!-- JS Global Compulsory -->
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<script src="{% static 'vendor/jquery-migrate/jquery-migrate.min.js' %}"></script>
<script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
<script src="{% static 'vendor/bootstrap/bootstrap.min.js' %}"></script>

<!-- JS Implementing Plugins -->
<script src="{% static 'vendor/hs-megamenu/src/hs.megamenu.js' %}"></script>
<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<!--
      <script src="{% static 'vendor/jquery-ui/ui/widget.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/version.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/keycode.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/position.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/unique-id.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/safe-active-element.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/widgets/menu.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/widgets/mouse.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/widgets/slider.js' %}"></script>
      <script src="{% static 'vendor/jquery-ui/ui/widgets/datepicker.js' %}"></script> -->
<script src="{% static 'vendor/chosen/chosen.jquery.js' %}"></script>
<script src="{% static 'vendor/slick-carousel/slick/slick.js' %}"></script>
<script src="{% static 'vendor/fancybox/jquery.fancybox.min.js' %}"></script>

<!-- JS Unify -->
<script src="{% static 'js/hs.core.js' %}"></script>
<script src="{% static 'js/components/hs.header.js' %}"></script>
<script src="{% static 'js/helpers/hs.hamburgers.js' %}"></script>
<script src="{% static 'js/components/hs.dropdown.js' %}"></script>
<script src="{% static 'js/components/hs.datepicker.js' %}"></script>
<script src="{% static 'js/components/hs.slider.js' %}"></script>
<script src="{% static 'js/components/hs.select.js' %}"></script>
<script src="{% static 'js/components/hs.carousel.js' %}"></script>
<script src="{% static 'js/components/hs.popup.js' %}"></script>
<script src="{% static 'js/components/hs.go-to.js' %}"></script>

<!-- JS Customization -->
<script src="{% static 'js/custom.js' %}"></script>

<!-- JQuery i18n -->
<script src="{% static 'js/jquery.i18n/src/CLDRPluralRuleParser.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.messagestore.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.fallbacks.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.language.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.parser.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.emitter.js' %}"></script>
<script src="{% static 'js/jquery.i18n/src/jquery.i18n.emitter.bidi.js' %}"></script>

<!-- JS Plugins Init. -->
<script>
    $(document).on('ready', function () {
        // initialization of header
        $.HSCore.components.HSHeader.init($('#js-header'));
        $.HSCore.helpers.HSHamburgers.init('.hamburger');

        // initialization of HSMegaMenu component
        $('.js-mega-menu').HSMegaMenu({
            event: 'hover',
            pageContainer: $('.container'),
            breakpoint: 991
        });

        // initialization of HSDropdown component
        $.HSCore.components.HSDropdown.init($('[data-dropdown-target]'), {
            afterOpen: function () {
                $(this).find('input[type="search"]').focus();
            }
        });

        // initialization of range slider
        $.HSCore.components.HSSlider.init('#rangeSlider1');

        // initialization of custom select
        $.HSCore.components.HSSelect.init('.js-custom-select');

        // initialization of carousel
        $.HSCore.components.HSCarousel.init('[class*="js-carousel"]');

        // initialization of popups
        $.HSCore.components.HSPopup.init('.js-fancybox');

        // initialization of go to
        $.HSCore.components.HSGoTo.init('.js-go-to');

        // initialization of mobile or pc style for app download style
        initMobileOrPCStyle();
    });

    function initMobileOrPCStyle(){
        var u = navigator.userAgent;
        var isAndroid = u.indexOf('Android') > -1 || u.indexOf('Adr') > -1; //android
        var isiOS = !!u.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/); //ios
        if(isAndroid || isiOS)
            $("body").removeClass("pc").addClass("mobile");
        else
            $("body").removeClass("mobile").addClass("pc");
    }

    function language_swap(language) {
        let languages = ['en', 'es', 'cn']
        let difference = [];
        for(var i in languages){
            var lan = languages[i];
            if (language != lan)
                difference.push(lan);
        }
        //let difference = languages.filter(x => ![language].includes(x)); // fix ie bug
        $("#" + language).parent().addClass("active");
        for (var i in difference) {
            $("#" + difference[i]).parent().removeClass("active");
        }
        console.log(language)
        let template = {}
        template[language] = '{% static "js/jquery.i18n/i18n/" %}' + language + '.json'
        $.i18n().load(template).done(function () {
            $.i18n({
                locale: language
            });
            $('body').i18n();
            $(".u-datepicker-v1").attr("placeholder", $.i18n('somos-date-placeholder'));
            $("[name='iAgreeInitials']").attr("placeholder", $.i18n('somos-initials-placeholder'));
            {% block i18n_promise %}
            {% endblock %}
        })

    }

    $(document).ready(function () {
        $(".icon-calendar").on("click", function (e) {
            $(e.target).closest(".input-group").find("input").trigger("focus");
        })

        /* check if language is in local session if not choose english */
        let language = sessionStorage.getItem('language');
        if (!language) {
            sessionStorage.setItem('language', 'en');
            language = "en";
        }
        language_swap(language)

        $(".nav-ln").on('click', function (e) {
            e.preventDefault();
            let language = $(e.target).attr("id");
            if (language === 'cn') {
                alert($(e.target).text().trim() + ' language support coming soon!');
                language = 'en';
            }
            sessionStorage.setItem('language', language);
            language_swap(language)
        });
    })

</script>
{% block js %}
{% endblock %}
</body>
</html>
  